<!DOCTYPE html>
<html>
<head>
    <title>Chinook Database</title>
</head>
<body>
    <h1>This is the Chinook Music Database</h1>
    <p></p>
    <h2>API Guide</h2>
    <p><strong>GET All Tracks</strong><br />
    curl -X GET http://nns.jkassis.net:5000/api/tracks</p>

    <p><strong>GET a Specific Track</strong><br />
    curl -X GET http://nns.jkassis.net:5000/api/tracks/1</p>

    <p><strong>POST Create a New Track</strong><br />
    curl -X POST -H &quot;Content-Type: application/json&quot; -d &#39;{&quot;Name&quot;: &quot;New Track&quot;, &quot;AlbumId&quot;: 12345, &quot;MediaTypeId&quot;: 3}&#39; http://nns.jkassis.net:5000/api/tracks</p>

    <p><strong>PUT Update a Track</strong><br />
    curl -X PUT -H &quot;Content-Type: application/json&quot; -d &#39;{&quot;Name&quot;: &quot;Updated Track Name&quot;, &quot;AlbumId&quot;: 3, &quot;MediaTypeId&quot;: 2}&#39; http://nns.jkassis.net:5000/api/tracks/1</p>

    <p><strong>DELETE Delete a Track</strong><br />
    curl -X DELETE http://nns.jkassis.net:5000/api/tracks/1</p>

<p>&nbsp;</p>
    
</body>
</html>